<form action="/answer" method="POST">

<label for="enter_name">Name</label><br><br>
<input id="enter_name" type="text" name="name"><br><br>

<label for="question">Your Question</label><br><br>
<input id="question" type="text" name="question"><br><br>

<input type="submit" value="submit">
</form>